{{ attach_library('core/jquery') }}

  
   <div> 
       <ul class="nav nav-tabs" role="tablist">
    {% for item in items %}           
        
  <!-- Nav tabs -->
  
    
    <li class="nav-item"role="presentation">
        <a class="custom nav-link" href="#{{ loop.index }}" aria-controls="{{ loop.index }}" role="tab" data-toggle="tab">
         {{ item.content['#title']}}
       </a>
    </li>
   {% endfor %}
  </ul>
    <div class="tab-content">
        {% for item in items %} 
        <div role="tabpanel" class="tab-pane" id="{{ loop.index }}">{{ item.content['#content']|striptags }}</div>
        {% endfor %}
    </div>
           
     
    
   
      </div>
   


