{{ attach_library('core/jquery') }}


  {#{ this is a basic template. You will need to alter the template from the theme
  following the naming pattern advised by drupal. 
  
  NOTE: you will need to call the array item in the twig  {% for item in items %} 
  then you would call the title as item.content['#title'] and the content as item.content['#content']
  
  Suggested name for all fields of a type tabs is field--tabs.html.twig 
  And suggest name for field instances is field--field-name.html.twig
  
  NOTE: calling {{ title }} or {{ content }} from the theme own't work.
  
  A working example in the theme is as follows;
  
  {% for item in items %}   
  {{ item.content['#title'] }}
  {{ item.content['#content'] }}
  {% endfor %}
  
  Also note in here {{ title }} and {{ content }} are strings while in field--suggested-name.html.twig
  the returned title and content will be in the content of the array items. Don't get confuse :)
  }#} 
 
  
      <div> 
               
        <a class="" href="#{{title}}">
         {{title}}
       </a>
        
        
        <div class="" id="">{{ content|striptags }}</div>
        
   
      </div>
   


